{% set use_heading = false %}
{% set no_toolbar = true %}
{% set body_class = 'body-medium' %}
{% set extends = 'base.html.twig' %}
{% if modal is defined and modal == true %}
    {% set extends = 'modal.html.twig' %}
{% endif %}
{% extends extends %}

{% block body %}
    <div class="all-padding">
        {% include view %}
    </div>
{% endblock %}
