{# app/Resources/views/manager/verification/verify.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="side-padding">
        <h1 class="">{% trans from "messages" %}register.manager_heading{% endtrans %}</h1>
        {% if field == 'email' %}
            {% set step = 2 %}
            {% set title = 'verify.manager_email_step' %}
            {% set text = 'verify.manager_email_info' %}
        {% elseif field == 'phone' %}
            {% set step = 3 %}
            {% set title = 'verify.manager_phone_step' %}
            {% set text = 'verify.manager_phone_info' %}
        {% endif %}
        {% include 'step/step.html.twig' with { 'step':step, 'steps':3, 'title':title } %}
        <div class="form bg-default">
            <p class="alert">{{ text|trans }}</p>
            {% include 'manager/verification/form.html.twig' %}
            {% include 'manager/verification/form.html.twig' %}
        </div>
    </div>
{% endblock %}
