{# app/Resources/views/manager/verification/verify.html.twig #}
{% extends 'email/base.html.twig' %}

{% block body %}
    <h1 class="">{% trans from "nav" %}nav.passwd_ticket{% endtrans %}</h1>
    <div class="top-bottom-padding">
        <table class="stepper">
            <tbody>
            <tr>
                <td class="bg-primary"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        {% trans with { '%firstname%': ticket.user.firstname,
                        '%password%': ticket.plaintextTicket,
                        '%valid%': ticket.until|date("H:i, d.m.Y"),
        } from "security" %}ticket.passwd_html_message{% endtrans %}
    </p>
{% endblock %}