<div class="container-fluid">
    {% if error is defined and error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.session.flashBag.has('chpw_success') %}
        {% for msg in app.session.flashBag.get('chpw_success') %}
            <div class="alert alert-success">{{ msg|trans([], 'security') }}</div>
        {% endfor %}
    {% endif %}

    <form action="{{ path('nav.login') }}" method="post">
        <div class="form-group">
            <label for="username" class="control-label required">{% trans from "security" %}login.username{% endtrans %}</label>
            <input class="form-control" type="email" id="username" name="_username" value="{{ username }}" autofocus="autofocus"/>
        </div>
        <div class="form-group">
            <label for="password" class="control-label required">{% trans from "security" %}login.password{% endtrans %}</label>
            <input class="form-control" type="password" id="password" name="_password" />
        </div>

        <div class="form-group">
            <label class="control-label">
                <input type="checkbox" id="remember_me" name="_remember_me" />
                {% trans from "security" %}login.remember_me{% endtrans %}
            </label>
        </div>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <div class="form-nav">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button class="btn-success btn" type="submit"><i class="fa fa-sign-in"></i> {% trans from "security" %}login.submit{% endtrans %} <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>

    </form>
</div>