{# app/Resources/views/security/login.html.twig #}
{% set use_heading = true %}
{% set body_class = 'body-medium' %}
{% extends 'base.html.twig' %}

{% block body %}

<div class="all-padding">
    <table class="stepper">
        <tbody>
        <tr>
            <td class="bg-primary"></td>
        </tr>
        </tbody>
    </table>

    {% for key, t in types %}
        {% if type == key %}
            <div class="form bg-default">
                <p class="all-padding">{% autoescape false %}{{ t[2]|trans({}, "security") }}{% endautoescape %}</p>
                {% include t[4] %}
            </div>
        {% endif %}
    {% endfor %}
    <h2>{% trans from "security" %}passwd.choices {% endtrans %}</h2>
    <div class="form bg-default all-padding">
        <ul class="nav nav-pills nav-justified">
            {% for key, t in types %}
                {% if type != key %}
                    <li class="border"><a href="{{ path(t[3]) }}"><i class="fa fa-{{ t[0] }}"></i> &nbsp; {{ t[1]|trans({}, "security") }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
